
a:link 
{   
    text-decoration:none; 
} 

.oia{
    padding-left: 1000px;
}

nav {
    font-family: monospace;
    font-size: 25px;
    color: purple; 
    background-color:rgb(207, 205, 205);
    height: 40px;
    width: 99%;
    text-align: center;
    position: fixed;
}
.menu {
    margin: 20px;
}
nav a img{
    width: 35px;
    height: 35px;
}
.banner img{ 
    width:60%;
}
#logo {
    position:relative;
    right:250px;       
}


.buy {
    text-align: right;
    
}

/* nav a {
    
    text-align: center;
    
} */